@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
  width: 40%;
  height: 70%;
  border-radius: 10px;
  background-color: #01579b;
  text-align: center;
  border-radius: 10px;
}

.top{
  border-radius: 10px;
  height: 60px;
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  font-family: 'Recursive', sans-serif;
  display: flex;
  justify-content: space-between;
}

.header{
  background-color: #424242;
  color: whitesmoke;

  font-size: 25px;
  border-radius: 10px;
  font-family: 'Recursive', sans-serif;
}

.day{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.sunrise_sunset{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
}

.description{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.button{
  width: 35px;
  height: 35px;
}